%p#notice= notice

.main_post
  %span.main_post_top
  %h1 Schedule
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}

  %ol
    %li 27 Oct - RADAR Range Equation
    %li 3 Nov - Parameter Estimation
    %li 10 Nov - Waveform Design
    %li 17 Nov - Detection Theory
    %li 1 Dec - Clutter, Multipath
    %li 8 Dec - Key RADAR Components
    %li 15 Dec - Electronic Attack/Electronic Protection

  %br.clear
  %span.main_post_bottom
  #footer
    designed by
    = link_to "Tim Booher", "http://www.theboohers.org"