
%script{:src => "/markitup/jquery.markitup.js", :type => "text/javascript"}

%link{:href => "/markitup/skins/markitup/style.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/markitup/sets/default/style.css", :rel => "stylesheet", :type => "text/css"}/

:javascript
  $(document).ready(function() {
     $("#solution_description").markItUp(mySettings);
  });

.main_post
  %span.main_post_top
  %h1
    Post a new solution for
    = @problem.title
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
  = render 'form'
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
  = link_to "Back to #{@problem.title}", problem_path(@problem)
  %br.clear
  %span.main_post_bottom



